.header__lang-link {
    color: #ffffff;
    line-height: 28px;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    text-decoration: none;
}

.header__lang-link:hover {
    transition: .2s linear;
    opacity: .7;
}

@media screen and (max-width: 425px) {
    .header__lang-link {
        line-height: 20px;
        font-size: 18px;
    }
}