.footer__copyright {
    margin: 0;
    line-height: 16px;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    font-style: normal;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 425px) {
    .footer__copyright {
        margin: 0;
        line-height: 14px;
        font-size: 14px;
        font-weight: 400;
    }
}