.lead__subtitle {
    margin: 0;
    width: 640px;
    line-height: 36px;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 64px;
}


@media screen and (max-width: 660px) {
    .lead__subtitle {
        width: calc(100% - 32px);
        line-height: 20px;
        font-size: 16px;
        font-weight: 400;
        margin: 0;
        margin-bottom: 40px;
    }
}