.lead__caption {
    margin: 0;
    min-width: 158px;
    line-height: 14px;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    align-self: flex-start;
    margin-top: 8px;
}

@media screen and (max-width: 768px) {
    .lead__caption {
        margin-left: 24px;
    }
} 

@media screen and (max-width: 425px) {
    .lead__caption {
        margin-left: 16px;
    }
}