.footer {
    width: calc(100% - 96px);
    margin: 92px auto 24px;
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 768px) {
    .footer {
        width: calc(100% - 48px);
        margin: 0 auto;
        margin-top: 88px;
    }
}

@media screen and (max-width: 700px) {
    .footer {
        width: 186px;
        flex-direction: column;
        margin: 64px 118px 24px 16px;
    }
}